# Ignore everything by default
*

# Keep directories (so we can re-include files)
!*/

# Keep core files for inference
!README.md
!LICENSE
!requirements.sh
!run_any2full.py

# Keep core model code
!model/
!model/ours/
!model/ours/**
!model/__init__.py

# Keep minimal utils
!utils/
utils/**
!utils/denoise.py
!utils/__init__.py

# Keep test samples
!assets/
!assets/**
